<!DOCTYPE html>
<html>
<head>
  <title>Mywiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
        <div class='col-md-12'>
        <ul class='no-bullet pull-right'>
          <% if current_user %>
            <li>
              <% if current_user.is_premium? == false %>
                <%= link_to("Upgrade to Premium | ", new_charge_path) %>
              <% else %>
                <a href='#'>Create new private wiki</a>
                 | 
              <% end %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</body>
</html>
